{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended"
  ],
  "parser": "vue-eslint-parser",
  "rules": {
    "vue/max-attributes-per-line": [
      "warn",
      {
        "singleline": 9
      }
    ]
  },
  "root": true
}