image: node:12-alpine
stages:
  - test
  - deploy

before_script:
  - yarn --frozen-lockfile

Lint:
  stage: test
  script:
    - yarn lint
  only:
    - branches
  except:
    - master

Test:
  stage: test
  script:
    - yarn test
  allow_failure: true
  only:
    - branches
  except:
    - master

pages:
  stage: deploy
  script:
    - yarn build --mode production
    - mv public public-control && mv dist public
  artifacts:
    paths:
      - public
  only:
    - master
