@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');



#default-page {
  display: flex;
  flex-direction: column
}